<!--
===============================================================================

  Copyright (c) 2013-2017 Qualcomm Technologies, Inc.
  All Rights Reserved.
  Confidential and Proprietary - Qualcomm Technologies, Inc.

===============================================================================
-->

<METACONFIG>
    <l1_file_name>ROT_encryption_key_l1.bin</l1_file_name>
</METACONFIG>
