#
# Configure the BDS Menu entries
#
[CLOCK Menu]

Indent = 5
FirstRow = 1
# DefaultSelect = 2

#
#  First Label and App should be for Exit option
#    Menu code will just exit on selection of 0 option
#    So do NOT change this option
#
Label = "Exit Menu"
App = Exit

#
#  Toggle Logging Clocks states option: 
#   Disable, to UART, to File
#  By default this is disabled, use this option to toggle the setting.
#
Label = "Toggle Logging Clocks states"
App = Cmd
Arg = "ToggeClockLoggingState"

#
#  Dump Clocks states to UART or File
#  based on the ToggeClockLoggingState setting
#
Label = "Dump Clocks states vs ToggeClockLoggingState setting"
App = Cmd
Arg = "DumpClockLoggingState"
#
# If BDS Menu should show some platform specific help string at the bottom of the
# menu, add it here as value for MenuHelp
# MenuHelp = "Platform has specific help need?"

