#
# Configure the BDS Menu entries
#
[Config Menu]

Indent = 5
FirstRow = 1
# DefaultSelect = 2

#
#  First Label and App should be for Exit option
#    Menu code will just exit on selection of 0 option
#    So do NOT change this option
#
Label = "Exit Menu"
App = Exit


#
#  Enable/Disable XPU violation Error Fatal
#    Toggle the variable value ErrFatal variable
#
Label = "XPU Error Fatal"
App = Cmd
Arg = "XpuErrFatal"

#
#  Enable/Disable XPU violation Error Fatal
#    Toggle the variable value ErrFatal variable
#
Label = "Wdog reset"
App = Cmd
Arg = "WdogReset"

#
#  Enable/Disable DDR Health Monitor
#    Toggle the variable value ErrFatal variable
#
Label = "DDR Health Monitor"
App = Cmd
Arg = "DdrHealthMon"

#
# If BDS Menu should show some platform specific help string at the bottom of the
# menu, add it here as value for MenuHelp
# MenuHelp = "Platform has specific help need?"

